<h1>All Customers</h1>
<!-- Link to new customer and aphabitized -->
<%= link_to 'Alphabetized', customers_alphabetized_path%>
<%= link_to 'Missing Emails', customers_missing_email_path %>
<div>
  <%= render @customers %>
</div>
